!!! 5
%html{:prefix => "test: http://www.w3.org/2006/03/test-description#"}
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html;charset=utf-8"}
    %title= "RDFa Test Suite: Test Cases"
  %body
    %p
      = "There was an error while retrieving the test case. This is often because the URL specified points to a test case that doesn't exist: "
      = unparsed_uri
