/**
 * Styling for the RDFa Play UI.
 */
textarea:focus, input:focus {
  border: 2px solid #900;
}

.clear { /* generic container (i.e. div) for floating buttons */
  overflow: hidden;
  width: 100%;
}

.errors {
  font-style: bold;
  color: red;
}

#permalink {
  text-align: right;
}

/* Visualization styling */

.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 11px;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
